.about-title h1 {
  text-align: center;
  color: #122132;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 28pt;
  margin-top: 70pt;
  margin-bottom: 40pt;
}

.about-image img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-height: 200pt;
  min-height: 200pt;
  min-width: 700pt;
  max-width: 700pt;
  object-fit: cover;
  border-radius: 15pt;
}

.about-desc {
  font-family: "Montserrat", sans-serif;
  font-size: 16pt;
  color: #122132;
  margin-top: 40pt;
  max-width: 500pt;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100pt;
}
