.header {
  width: 90%;
  background-color: #122132;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: end;
  padding: 10pt;
}

.header-title {
  padding: 10pt;
  color: white;
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
  background-color: #122132;
  font-size: 16pt;
  padding-left: 50pt;
}

.header a {
  font-size: 14pt;
  padding: 20pt;
  color: white;
  text-decoration: none;
}

.header-login {
  width: 10%;
  min-width: 120pt;
  font-size: 14pt;
  padding: 10pt;
  font-weight: 600;
  text-align: center;
  background-color: #d4ecdd;
  color: #122132;
  font-family: "Montserrat", sans-serif;
}

.header-login a {
  color: #122132;
  text-decoration: none;
}

.header-container {
  width: 100%;
  font-weight: 500;
  display: flex;
  top: 0;
  position: fixed;
}
