.container-blog {
  left: auto;
  right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blog-container {
  display: block;
  min-height: 400pt;
  max-height: 1200pt;
  width: 300pt;
  border-radius: 15pt;
  border: 2pt solid #e5e5e5;
  margin-bottom: 40pt;
  margin-top: 20pt;
}

.blog-title h1 {
  text-align: center;
  color: #122132;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 28pt;
  margin-top: 70pt;
}

.blog-image img {
  margin-left: auto;
  margin-right: auto;
  height: 300pt;
  width: 300pt;
  object-fit: cover;
  border-radius: 13pt;
}

.blog-desc {
  font-family: "Montserrat", sans-serif;
  color: #122132;
  margin: 20pt;
}
.blog-desc .blog-sub-title {
  font-size: 18pt;
  font-weight: 600;
}
.blog-desc .blog-sub-author {
  font-size: 12pt;
  font-weight: 400;
  margin-top: 5pt;
}
.blog-desc .blog-sub-release {
  font-size: 12pt;
  font-weight: 400;
  margin-top: 15pt;
  line-height: 17pt;
  color: #92a2b4;
}
