.dotd-title h1 {
  text-align: center;
  color: #122132;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 28pt;
  margin-top: 40pt;
  margin-bottom: 20pt;
}
.about-image img{

    
}